@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0px;
  min-height: 53px;
  background: #212121;
}

.menu {
  padding: 15px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0;
}

.menu__link {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__item {
  border-right: 2px dotted rgb(63, 58, 58);
  padding-right: 48px;
}

.menu__item:last-child {
  border-right: none;
}

.subheader {
  margin-top: 54px;
  position: absolute;
  width: 100%;
  min-height: 87px;
  background: rgba(0, 0, 0, 0.6);
}

.subheader__logo {
  display: block;
  text-align: left;
  margin-top: 10px;
  max-width: 100%;
  font-size: 13px;
  font-weight: 300;
  color: #FFFFFF;
  opacity: 0.5;
}

.subheader__official {
  font-size: 13px;
  font-weight: 300;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 0px;
}

.subheader__call {
  font-size: 11px;
  font-weight: 300;
  color: #FFFFFF;
  margin-top: 20px;
}

.subheader__tel {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 7px;
}

.subheader__btn {
  width: 172px;
  height: 46px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.18);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.18);
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left bottom, left top, from(#2798b9), to(#3ab6da));
  background: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.subheader__btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#2283a0), to(#319bb8));
  background: linear-gradient(to top, #2283a0 0%, #319bb8 100%);
}

.promo {
  min-height: 800px;
  background: url(../images/uber_bg.jpeg) center center/cover no-repeat;
  padding: 175px 0px 185px 0px;
}

.promo__header {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.promo__subheader {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.promo__descr {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 23px;
}

.promo__btn {
  display: block;
  margin: 0 auto;
  margin-top: 116px;
  width: 260px;
  height: 63px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.18);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.18);
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left bottom, left top, from(#2798b9), to(#3ab6da));
  background: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.promo__btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#2283a0), to(#319bb8));
  background: linear-gradient(to top, #2283a0 0%, #319bb8 100%);
}

.advantages {
  padding-top: 20px;
  padding-bottom: 64px;
}

.advantages__round-1,
.advantages__round-2,
.advantages__round-3,
.advantages__round-4,
.advantages__round-5,
.advantages__round-6,
.advantages__round-7,
.advantages__round-8 {
  width: 116px;
  height: 116px;
  background-color: #1EACC7;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.advantages__text-card, .advantages__text-card-rigth {
  max-width: 370px;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.advantages__text-card-rigth {
  max-width: 340px;
}

.advantages__subtitle {
  color: #1EACC7;
  font-size: 17px;
  font-weight: 400;
}

.label {
  display: block;
  margin: 0 auto;
  max-width: 113px;
  height: 24px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  padding: 3px 1px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  background-color: #212121;
  border-radius: 2px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.label:hover {
  background-color: #3e3d3d;
}

.title {
  color: rgb(34, 34, 34);
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 33px;
}

.subtitle {
  color: rgb(34, 34, 34);
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 19px;
}

.mobile {
  min-height: 864px;
  padding: 48px 0px 80px 0px;
  background: url("../images/mobile_bg.png") center center/cover no-repeat;
}
.mobile .row {
  padding-top: 30px;
}
.mobile__item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
}
.mobile__item-1 {
  background: url("../images/Card-1.jpeg") center center/cover no-repeat;
}
.mobile__item-2 {
  background: url("../images/Card-2.jpeg") center center/cover no-repeat;
}
.mobile__item-3 {
  background: url("../images/Card-3.jpeg") center center/cover no-repeat;
}
.mobile__item-4 {
  background: url("../images/Card-4.jpeg") center center/cover no-repeat;
}
.mobile__item-5 {
  background: url("../images/Card-5.jpeg") center center/cover no-repeat;
}
.mobile__item-6 {
  background: url("../images/Card-6.jpeg") center center/cover no-repeat;
}
.mobile__item--subtitle {
  padding-top: 88px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.mobile__item--plus {
  position: absolute;
  width: 29px;
  height: 29px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  bottom: 35px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.mobile__item--plus::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3S all;
  transition: 0.3S all;
}
.mobile__item--plus::after {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  position: absolute;
  left: 49%;
  top: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3S all;
  transition: 0.3S all;
}
.mobile__item--plus img {
  width: 100%;
}
.mobile__item--plus:hover {
  background: rgb(32, 31, 31);
}
.mobile__item--plus:hover::after, .mobile__item--plus:hover::before {
  background-color: #c74595;
}

.selection {
  padding: 59px 0px 110px 0px;
  min-height: 890px;
  background: url("../images/dark-bg.jpeg") top center no-repeat, url("../images/selection-bg.png") bottom center no-repeat;
}
.selection .label {
  color: #212121;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.selection .label:hover {
  background-color: rgb(177, 169, 169);
}
.selection__title {
  color: rgb(255, 255, 255);
}
.selection__subtitle {
  color: rgb(255, 255, 255);
}
.selection__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
}
.selection__promo--img {
  margin: 0 auto;
}
.selection__slogan {
  text-align: center;
  max-width: 327px;
  color: rgb(34, 34, 34);
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.require {
  padding: 60px 0px 90px 0px;
}
.require__block {
  margin: 33px 0px;
}
.require__block--nmb {
  margin-bottom: 0px;
}
.require__subtitle {
  color: rgb(28, 168, 195);
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 22px;
}
.require__subtitle--red {
  color: #FF5656;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 22px;
}
.require__list--red {
  list-style-type: none;
  padding-left: 50px;
}
.require__list--red li {
  color: rgb(34, 34, 34);
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 10px;
}
.require__list--red li::before {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 20px;
  margin-left: -30px;
  margin-top: 2px;
  background: url("../images/icon/check-red.png");
}
.require__list {
  list-style-type: none;
  padding-left: 50px;
}
.require__list li {
  color: rgb(34, 34, 34);
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 10px;
}
.require__list li::before {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 20px;
  margin-left: -30px;
  margin-top: 2px;
  background: url("../images/icon/check-blue.png");
}
.require__descr {
  color: rgb(28, 168, 195);
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 25px;
}

.find-world {
  min-height: 720px;
  background: url("../images/Group-world-bg.jpeg") center center/cover no-repeat;
  padding: 48px 0px 22px 0px;
}
.find-world .label {
  color: #212121;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.find-world .label:hover {
  background-color: rgb(177, 169, 169);
}
.find-world__title {
  color: rgb(255, 255, 255);
}
.find-world__subtitle {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 5px;
}
.find-world__link {
  color: rgb(31, 186, 214);
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 450px;
}

.footer {
  min-height: 135px;
  padding: 13px 10px 27px 10px;
}
.footer__line {
  display: block;
  margin: 0 auto;
  border-top: 7px solid;
  width: 301px;
  color: #1FBAD6;
  margin-bottom: 20px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu {
  width: 33%;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}
.footer__apps {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}
.footer__menu--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__menu--title .title__link:hover {
  text-decoration: underline;
}
.footer__menu--subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}
.footer__menu--subtitle .subtitle__link:hover {
  text-decoration: underline;
}
.footer__language {
  text-align: center;
  color: #1FBAD6;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .menu__item {
    border-right: none;
    padding-right: 10px;
  }
  .menu__link {
    font-size: 12px;
  }
  .promo__header {
    font-size: 48px;
  }
  .promo__subheader {
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */