*,
*::after,
*::before{
   box-sizing: inherit;  
}
html{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}
header{
   position: relative;
   height: 53px;
   

}

a{
   text-decoration: none;
   color: inherit;
}

nav{
   position: fixed;
   width: 100%;
   z-index: 5;
   top: 0px;
   height: 53px;
   background: #212121;
   
}
.menu{
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   padding: 15px 70px;
   margin: 0 ;
}
.menu__link{
   color: rgb(255, 255, 255);
   font-size: 15px;
   font-weight: 300;
   letter-spacing: 0px;
   text-align: center;     
   transition:  0.5s all;
}
.menu__link:hover{
   text-decoration: underline;
}
.menu__item{
   border-right: 2px dotted rgb(63, 58, 58);
   padding-right: 48px;
}
.menu__item:last-child{
   border-right: none;
}
.subheader{
   top: 53px;
   position: absolute;
   width: 100%;
   min-height: 87px;
   background: rgba(0,0,0, 0.6);
   
}
.subheader__logo{
   display: block;
   text-align: left;
   margin-top: 10px;
  max-width: 100%;
  font-size: 13px;
  font-weight: 300;
  color: #FFFFFF;
  opacity: 0.5;
}
.subheader__official{
   font-size: 13px;
   font-weight: 300;
   color: #FFFFFF;
   opacity: 0.5;
   margin-top: 0px;
}
.subheader__call{
   font-size: 11px;
   font-weight: 300;
   color: #FFFFFF;
   margin-top: 20px; 
}
.subheader__tel{
   color: rgb(255, 255, 255);
   font-family: Roboto;
   font-size: 20px;
   line-height: 120%;
   font-weight: 400;
   letter-spacing: 0px;
   text-align: center;
   text-transform: uppercase;
   margin-top: 7px;
}
.subheader__btn{
   width: 172px;
   height: 46px;
   border-radius: 8px;
   box-shadow: inset 0px 0px 5px  rgba(0, 0, 0, 0.18);
   border: 1px solid rgba(0, 0, 0, 0.25) ;
   background: linear-gradient(
   to top , #2798b9 0%,#3ab6da 100%);
   cursor: pointer;
   color: rgb(255, 255, 255);
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 0px;
   text-align: center;
   text-transform: uppercase;
   margin: 20px 0px;
   transition:  0.5s all;
   
}
.subheader__btn:hover{
   background: linear-gradient(
   to top , #2283a0 0%,#319bb8 100%);
}
.promo{
   min-height: 800px;
   background: url(../images/uber_bg.jpeg) center center/cover no-repeat;
   padding: 175px 0px 185px 0px;
}
.promo__header{
   color: rgb(255, 255, 255);
   font-size: 60px;
   font-weight: 900;
   letter-spacing: 0px;
   text-align: center;
   text-transform: uppercase;
}
.promo__subheader{
   color: rgb(255, 255, 255);
   font-size: 36px;
   font-weight: 700;
   letter-spacing: 0px;
   text-align: center;
   text-transform: uppercase;
}
.promo__descr{
   color: rgb(255, 255, 255);
   font-family: Roboto;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0px;
   text-align: center;
   margin-top: 23px;
}
.promo__btn{
   display: block;
   margin: 0 auto;
   margin-top: 116px;
   width: 260px;
   height: 63px;
   border-radius: 10px;
   box-shadow: inset 0px 0px 5px  rgba(0, 0, 0, 0.18);
   border: 1px solid rgba(0, 0, 0, 0.25) ;
   background: linear-gradient(
   to top , #2798b9 0%,#3ab6da 100%);
   cursor: pointer;
   color: rgb(255, 255, 255);
   font-size: 18px;
   font-weight: 400;
   letter-spacing: 0px;
   text-align: center;
   text-transform: uppercase;
   transition:  0.5s all;  
   
}
.promo__btn:hover{
   background: linear-gradient(
   to top , #2283a0 0%,#319bb8 100%);
}
.advantages{
   padding-top: 20px;
   padding-bottom: 64px;
}
.advantages__round-1,
.advantages__round-2,
.advantages__round-3,
.advantages__round-4,
.advantages__round-5,
.advantages__round-6,
.advantages__round-7,
.advantages__round-8 {
   width: 116px;
   height: 116px;
   background-color: #1EACC7;
   border-radius: 50%;
   margin-top: 15px;
   margin-right: 25px;
   display: flex;
   align-items: center;
   justify-content: center; 
   flex-shrink: 0;
}

.col-md-6{
   display: flex;
   margin-top: 25px;
}
.advantages__text-card , .advantages__text-card-rigth{   
   max-width: 370px;
   font-size: 15px;
   font-weight: 300;
   line-height: 21px;
   letter-spacing: 0px;
   text-align: left;
   
}
.advantages__text-card-rigth{
   max-width: 340px;
}
.advantages__subtitle{
   color: #1EACC7;
   font-size: 17px;
   font-weight: 400;
}
.label{
   display: block;
   margin: 0 auto;
   max-width: 113px;
   height: 24px;
   color: rgb(255, 255, 255);
   font-size: 11px;
   padding: 3px 1px;
   font-weight: 400;
   letter-spacing: 0px;
   text-align: center;
   text-transform: uppercase;
   background-color: #212121;
   border-radius: 2px;
   transition:  0.5s all;
   &:hover{
      background-color: #3e3d3d;
}

}
.title{
   color: rgb(34, 34, 34);
   font-size: 38px;
   font-weight: 700;
   line-height: 48px;
   letter-spacing: 0px;
   text-align: center;
   text-transform: uppercase;
   margin-top: 33px;
}
.subtitle{
   color: rgb(34, 34, 34);
   font-size: 17px;
   font-weight: 400;
   line-height: 21px;
   letter-spacing: 0px;
   text-align: center;
   margin-top: 19px;
}
.mobile{
   min-height: 864px;
   padding: 48px 0px 80px 0px;
   background: url('../images/mobile_bg.png') center (center/cover) no-repeat;
   .row{
      padding-top: 30px;
   }
   &__item{
      position: relative;
      max-width: 320px;
      height: 280px;
      margin: 0 auto;
      margin-bottom: 19px;
      &-1{
         background: url('../images/Card-1.jpeg') center center/cover no-repeat;
      }     
      &-2{
         background: url('../images/Card-2.jpeg') center center/cover no-repeat;
      }     
      &-3{
         background: url('../images/Card-3.jpeg') center center/cover no-repeat;
      }     
      &-4{
         background: url('../images/Card-4.jpeg') center center/cover no-repeat;
      }     
      &-5{
         background: url('../images/Card-5.jpeg')center center/cover no-repeat;
      }     
      &-6{
         background: url('../images/Card-6.jpeg') center center/cover no-repeat;
      }
      &--subtitle{
         padding-top: 88px;
         color: rgb(255, 255, 255);
         font-family: Roboto;
         font-size: 24px;
         font-weight: 400;
         line-height: 31px;
         letter-spacing: 0px;
         text-align: center;
         text-transform: uppercase; 
      
      }
      &--plus{
         position: absolute;
         width: 29px;
         height: 29px;
         background: rgb(0, 0, 0);
         border-radius: 50%;
         left: 50%;
         transform: translateX(-50%);
         margin: 0 auto;
         bottom: 35px;
         cursor: pointer;
         transition:  0.5s all;
         &::before{
            content: '';
            display: block;
            width: 14px;
            height: 2px;
            background-color: #1EACC7;
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translateY(-50%);
            transition: 0.3S all;
         }
         &::after{
            content: '';
            display: block;
            width: 2px;
            height: 14px;
            background-color: #1EACC7;
            position: absolute;
            left: 49%;
            top: 25%;
            transform: translateX(-50%);
            transition: 0.3S all;
         }
         img{
            width: 100%;
         }
         &:hover{
            background: rgb(32, 31, 31);
            &::after, &::before{
               background-color: #c74595;
            }
         }
         
      }     
   }
}
.selection{
   padding: 59px 0px 110px 0px;
   min-height: 890px;
   background: url('../images/dark-bg.jpeg') top center no-repeat , url('../images/selection-bg.png') bottom center no-repeat  ;
   .label{
      color:  #212121;     
      background-color: rgb(255, 255, 255);
      transition:  0.5s all;
      &:hover{
         background-color: rgb(177, 169, 169);
      }
   }
   &__title{
      color: rgb(255, 255, 255);
   }
   &__subtitle{
      color: rgb(255, 255, 255);
   }
   &__promo{
      display: flex;
      margin-top: 54px;
      &--img{
         margin: 0 auto;
      }
   }
   &__slogan{
      text-align: center;
      max-width: 327px;
      color: rgb(34, 34, 34);
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: center;
      display: block;
      margin: 0 auto;
   }

}
.require{
   padding: 60px 0px 90px 0px;
   &__block{
      margin: 33px 0px;
      &--nmb{
         margin-bottom: 0px;
      }
   }
   &__subtitle{
      color: rgb(28, 168, 195);
      font-size: 22px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 22px;
   }
   &__subtitle--red{
      color: #FF5656;
      font-size: 22px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 22px;
   }
   &__list--red{
      list-style-type: none;
      padding-left: 50px;
      li{
         color: rgb(34, 34, 34);
         font-size: 17px;
         font-weight: 300;
         line-height: 24px;
         letter-spacing: 0px;
         text-align: left;
         margin-top: 10px;
         &::before{
            content: '';
            display: block;
            position: absolute;
            width: 21px;
            height: 20px;
            margin-left: -30px;
            margin-top: 2px;
            background: url('../images/icon/check-red.png');
         }
      }
   }
   &__list{
      list-style-type: none;
      padding-left: 50px;      
      li{
         color: rgb(34, 34, 34);
         font-size: 17px;
         font-weight: 300;
         line-height: 24px;
         letter-spacing: 0px;
         text-align: left;
         margin-top: 10px;
         &::before{
            content: '';
            display: block;
            position: absolute;
            width: 21px;
            height: 20px;
            margin-left: -30px;
            margin-top: 2px;
            background: url('../images/icon/check-blue.png');
         }
      }
   }
   &__descr{
      color: rgb(28, 168, 195);
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      margin-top: 25px;
   }   
}
.find-world{
   min-height: 720px;
   background: url('../images/Group-world-bg.jpeg') center center/cover no-repeat;
   padding: 48px 0px 22px 0px;
   .label{
      color:  #212121;     
      background-color: rgb(255, 255, 255);
      transition:  0.5s all;
      &:hover{
         background-color: rgb(177, 169, 169);
      }
   }
   &__title{
      color: rgb(255, 255, 255);
   }
   &__subtitle{
      color: rgb(255, 255, 255);
      text-align: center;
      margin-top: 5px;
   }
   &__link{
      color: rgb(31, 186, 214);
      font-size: 15px;
      font-weight: 400;
      line-height: 68px;
      letter-spacing: 0px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 450px;
   }
}
.footer{
   min-height: 135px;
   padding: 13px 10px 27px 10px;
   &__line{
      display: block;
      margin: 0 auto;
      border-top: 7px solid ;
      width: 301px;
      color: #1FBAD6;
      margin-bottom: 20px;
   }
   
   &__wrapper{
      display: flex;
      justify-content: space-between;
   }
   &__menu{
      width: 33%;
   }
   &__social{
      display: flex;
      width: 33%;
      align-items: center;
      column-gap: 6px;
   }
   &__apps{
      width: 33%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 6px;
   }
   &__menu--title{
      display: flex;
      column-gap: 26px;
      justify-content:center;
      .title__link {
         &:hover {
            text-decoration: underline;
         }
      }
   }
   &__menu--subtitle{
      display: flex;
      color: rgb(153, 153, 153);
      font-size: 11px;
      font-weight: 300;
      letter-spacing: 0px;
      text-transform: uppercase;
      column-gap: 10px;
      justify-content:space-between;

      margin-top: 10px;
      .subtitle__link{
         &:hover {
            text-decoration: underline;
         }
      }
   }
   
   &__language{
      text-align: center;
     color: #1FBAD6;
     margin-top: 10px;
   }
}
.xs-visible{
   display: none;
}
