@media (max-width:1200px){
    .menu{
        &__item{
            border-right: none;
            padding-right: 10px;
        }
        &__link{
            font-size: 12px;
        }
    }
    .promo{
        &__header{
           font-size: 47px; 
        }
        &__subheader{
            font-size: 24px;
        }
    }
}